* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'cursive';
}

header {
    height: 100vh;
    width: 100vw;
    background-image: url(sary/bank1.webp);
    background-size: cover;
}

.navbar {
    position: absolute;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
}

.navbar .logo {
    font-size: 2em;
    font-weight: bold;
    color: black;
}

.navbar .nav-links ul {
    display: flex;
}

.navbar .nav-links ul li {
    margin: 0 25px;
}